<footer class="bg-dark text-white">
  <div class="container py-4">
    <!-- New row with title and subtitle -->
    <div class="row row-left-align">
      <div class="col-md-12 text-start">
        <h3 class="footer-title">Message From Our Founders</h3>
        <p class="footer-subtitle">‘We seek to cultivate the skills and internal resources to keep up with and actively engage in this fast-changing world.’</p>
        <div class="row">
          <div class="col-md-2">
            <h4>About Us</h4>
            <p>
              <a href="#">Quick Facts</a> <br>
              <a href="#">Transport</a> <br>
              <a href="#">Curriculum</a> <br>
              <a href="#">Departments</a> <br>
              <a href="#">Carreers</a> <br>
              <a href="#">News</a> <br>
              <a href="#">Events</a> <br>
              <a href="#">Fees</a>
            </p>
          </div>
          <div class="col-md-2">
            <h4>Admissions</h4>
            <p>
              <a href="#">Admistration Office</a> <br>
              <a href="#">Why X Schools</a> <br>
              <a href="#">Book an appointment</a> <br>
              <a href="#">Prospectus</a> <br>
              <a href="#">Apply: Tuition</a> <br>
              <a href="#">Apply: Transport</a>
            </p>
          </div>
          <div class="col-md-2">
            <h4>Schools</h4>
            <p>
              <a href="#">X Kindergarten</a> <br>
              <a href="#">X Springs Kindergarten</a> <br>
              <a href="#">X Primary</a> <br>
              <a href="#">X Springs Primary</a> <br>
              <a href="#">X Springs Girls' High School</a> <br>
              <a href="#">X International School</a> <br>
              <a href="#">X juniour High School</a> <br>
              <a href="#">X Springs juniour High School</a>
            </p>
          </div>
          <div class="col-md-2">
            <h4>Downloads</h4>
            <p>
              <a href="#">X Kindergarten</a> <br>
              <a href="#">X Springs Kindergarten</a> <br>
              <a href="#">X Primary</a> <br>
              <a href="#">X Springs Primary</a> <br>
              <a href="#">X Springs Girls' High School</a> <br>
              <a href="#">X International School</a>
            </p>
          </div>
          <div class="col-md-2">
            <h4>Contact Us</h4>
            <p>
              <a href="#">X Group Of Schools</a> <br>
              <a href="#">P.O BOX 1234-40204</a> <br>
              <a href="#">KISII</a> <br>
              <a href="#">Call Us: 0712345678/254</a> <br>
              <a href="#">Email Us: test1234@gmail.com</a>
            </p>
          </div>
        </div>
        <hr class="footer-separator"> <!-- Added HR element for separation -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-start">
        <p class="footer-small-text">&copy; 2023 X Group of Schools. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-md-center">
        <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>      
    </div>
  </div>
</footer>
