<footer class="bg-dark text-white">
    <div class="container py-4">
      <div class="row">
        <div class="col-md-6">
          <p class="footer-small-text">&copy; 2023 X Group of Schools. All rights reserved.</p>
        </div>
        <div class="col-md-6 text-md-end">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>
  