<footer class="bg-dark text-white">
  <div class="container py-4">
    <!-- New row with title and subtitle -->
    <div class="row row-left-align">
      <div class="col-md-12 text-start">
        <h3 class="footer-title">Message From Our Founders</h3>
        <p class="footer-subtitle">‘We seek to cultivate the skills and internal resources to keep up with and actively engage in this fast-changing world.’</p>
        <div class="row">
          <div class="col-md-2">
            <h4>About Us</h4>
            <p>
              Quick Facts <br>
              Transport<br>
              Curriculum<br>
              Departments<br>
              Carreers<br>
              News<br>
              Events<br>
              Fees
            </p>
          </div>
          <div class="col-md-2">
            <h4>Admissions</h4>
            <p>
              Admistration Office<br>
              Why X Schools<br>
              Book an appointment<br>
              Prospectus<br>
              Apply: Tuition<br>
              Apply: Transport
            </p>
          </div>
          <div class="col-md-2">
            <h4>Schools</h4>
            <p>
              X Kindergarten<br>
              X Springs Kindergarten<br>
              X Primary<br>
              X Springs Primary<br>
              X Springs Girls' High School<br>
              X International School<br>
              X juniour High School<br>
              X Springs juniour High School
            </p>
          </div>
          <div class="col-md-2">
            <h4>Downloads</h4>
            <p>
              X Kindergarten<br>
              X Springs Kindergarten<br>
              X Primary<br>
              X Springs Primary<br>
              X Springs Girls' High School<br>
              X International School
            </p>
          </div>
          <div class="col-md-2">
            <h4>Contact Us</h4>
            <p>
              X Group Of Schools<br>
              P.O BOX 1234-40204<br>
              KISII<br>
              Call Us: 0712345678/254<br>
              Email Us: test1234@gmail.com
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-start">
        <p class="footer-small-text">&copy; 2023 X Group of Schools. All rights reserved.</p>
      </div>
      <div class="col-md-6 text-md-center">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>
