/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.text-center {
    text-align: center;
}

/* Navbar styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px; /* Add padding to the navbar */
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px; /* Add margin to the right of the navbar brand */
}

.navbar-nav {
    margin-left: auto;
    padding-right: 10px; /* Add padding to the right of the navbar nav */
}

.nav-link {
    color: #fff;
    margin-right: 10px; /* Add margin to the right of each navbar link */
}

.navbar-divider {
    border-bottom: 1px solid #fff;
    margin: 10px 0; /* Add margin to the navbar divider */
}

.nav-top-icon {
    font-size: 20px;
    margin-right: 10px;
}

.nav-top-item {
    margin-right: 20px;
}

.upper-navbar {
    background-color: #fff;
    padding: 10px; /* Add padding to the upper navbar */
}


.upper-navbar .nav-link {
    color: #333;
}

.lower-navbar {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 10px; /* Add padding to the lower navbar */
}

.lower-navbar .nav-link {
    color: #fff;
}

.lower-navbar .nav-item.active {
    background-color: #fff; /* Adjust the background color for the active section */
}

.lower-navbar .nav-item.active .nav-link {
    color: #333333; /* Adjust the text color for the active section */
}

.lower-navbar:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffffff; /* Adjust the background color for the active section indicator */
}
.lower-navbar .navbar-toggler {
    color: #fff; /* Set the color of the navbar toggler button */
    border-color: #ffffffd5; /* Set the border color of the navbar toggler button */
    background-color: #ffffff34; /* Set the background color of the navbar toggler button */
}
.lower-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='3' y1='12' x2='27' y2='12' stroke='%23ffffff' stroke-width='2'/%3E%3Cline x1='3' y1='18' x2='27' y2='18' stroke='%23ffffff' stroke-width='2'/%3E%3Cline x1='3' y1='24' x2='27' y2='24' stroke='%23ffffff' stroke-width='2'/%3E%3C/svg%3E");
}

.social-icons {
    margin-left: 20px;
}

.social-icons a {
    margin-right: 5px;
    color: #fff;
}

/* Navbar content */
.phone-number {
    font-size: 14px;
    margin-top: 5px; /* Add margin to the top of the phone number */
    color: #ccc;
}

.apply-now {
    margin-left: 20px;
}

.apply-now-link {
    background-color: purple;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}

/* Media queries */
@media (max-width: 991px) {
    /* Navbar styles for medium screens */
    .navbar-nav {
        flex-direction: initial;
        margin-top: 0;
    }

    .navbar {
        flex-direction: column;
        align-items: stretch;
    }

    .navbar-toggler {
        display: block;
        order: 1;
    }

    .navbar-collapse {
        order: 2;
        max-height: none;
        overflow: visible;
        transition: max-height 0.3s ease-out;
    }

    .navbar-collapse.show {
        max-height: 500px; /* Adjust the max height as needed */
    }

    .navbar-nav {
        flex-direction: column;
        margin-left: 0;
        margin-top: 10px;
    }

    .navbar-brand,
    .nav-link {
        text-align: center;
    }

    .nav-link {
        margin: 5px 0;
    }
}

@media (max-width: 767px) {
    /* Navbar styles for smaller screens */
    .navbar-nav {
        flex-direction: initial;
        margin-top: 0;
    }

    .navbar {
        flex-direction: column;
        align-items: stretch;
    }

    .navbar-toggler {
        display: block;
        order: 1;
    }

    .navbar-collapse {
        order: 2;
        max-height: none;
        overflow: visible;
        transition: max-height 0.3s ease-out;
    }

    .navbar-collapse.show {
        max-height: 500px; /* Adjust the max height as needed */
    }

    .navbar-nav {
        flex-direction: column;
        margin-left: 0;
        margin-top: 10px;
    }

    .navbar-brand,
    .nav-link {
        text-align: center;
    }

    .nav-link {
        margin: 5px 0;
    }
}

/* Main content styles */
.content {
    margin-top: 20px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

ul {
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  
  .footer-text {
    font-size: 14px;
    color: #777;
  }
  
  .footer-link {
    color: #777;
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  footer p {
    color: #fff;
  }
  
  .row-left-align {
    text-align: left;
    justify-content: center;
  }
  
  .row-left-align .col-md-2 {
    text-align: center;
  }
  
  
